section h1 {
	margin-bottom: -3%;
}

#achievements .achievement-background {
	background-color: #ecf0f1;
}

#achievements .row {
	padding-top: 3%;
	padding-bottom: 3%;
}

#achievements p {
	text-align: justify;
}

#achievements h3 {
	margin-top: 0px;
}

#achievements img {
	padding-bottom: 6%;
}

.pagination {
	margin-top: 1%;
}

.modal-dialog {
	width: 800px;
}

.row-inline {
	display: inline;
}