section h1 {
	margin-bottom: -3%;
}

#achievements .achievement-background {
	/*background-color: #EAE1D2/*#ecf0f1*/
	background-image: url('../../img/achievement/background-1.jpg');
	background-repeat: repeat;
/*	color: #FFFFFF;*/
}

.achievement-background-color {
	/*background-color: #F1F1EF;*/
	background-image: url('../../img/achievement/background-2.jpg');
	background-repeat: repeat;

}

.achievement-background h3 {
	/*color: #FFFFFF;*/
}

#achievements .row {
	padding-top: 3%;
	padding-bottom: 3%;
}

#achievements p {
	text-align: justify;
	font-size: 1.3em;
}

#achievements h1 {
	padding-bottom: 3%;
}

#achievements h3 {
	margin-top: 0px;
	font-size: 2.4em;
}

#achievements img {
	padding-bottom: 6%;
}

.pagination {
	margin-top: 1%;
}

.modal-dialog {
	width: 800px;
}

.row-inline {
	display: inline;
}